### Archiv8 gitattributes
### Version 0.1.0
### Date 23/04/2019
### Last Update 28/04/2020

# LINE ENDINGS
# ============

# Default behavior for cases when users don't have core.autocrlf set
# ------------------------------------------------------------------

* text=auto eol=lf


# Text files that need to be explicitly declared
# ----------------------------------------------



# Binary files that need to the explicitly declared
# -------------------------------------------------

# WHITESPACE
# ==========

* text whitespace=blank-at-eol,blank-at-eof,space-before-tab,-indent-with-non-tab,tab-in-indent,cr-at-eol,tabwidth=2
